@model List<Student>
@{
    ViewData["Title"] = "ShowAll";
}
<!--Lossly Type View-->
<h1>ShowAll</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
    </tr>
    @foreach (Student item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>
                <img src="/Images/@item.ImageURl" style="width:100px" />
            </td>
            <td>
                <a href="/Student/DEtails/@item.ID">Details</a>
            </td>
        </tr>
    }
</table>

